@import url("./reset.css");
@import url("./variables.css");

footer {
  width: 100%;
  background-color: var(--primary-theme);
  color: var(--f-clr-secondary);
  display: flex;
  justify-content: space-around;
}
.footer-logo {
  font-family: var(--ff-h);
  color: var(--f-clr-secondary);
  font-size: var(--fs-h3);
  text-transform: var(--text-uc);
  font-weight: var(--fw-bold);
  width: 8rem;
}
.footer-logo-link {
  text-decoration: none;
}
.footer-information-list {
  margin-top: 1rem;
}
footer p {
  color: var(--f-clr-secondary);
}
.footer-nav li {
  display: block;
  padding-bottom: 0.5rem;
}
.footer-nav a {
  text-decoration: none;
  font-family: var(--ff-h);
  color: var(--f-clr-secondary);
  font-size: var(--fs-h2);
  text-transform: var(--text-uc);
}
.footer-ul {
  margin: 0;
  padding: 0;
}
.footer-list-container {
  margin: 1.5rem 0.5rem;
}
footer img {
  block-size: 2rem;
  margin: 1rem 0.8rem 1rem 0rem;
}

@media (max-width: 500px) {
  footer {
    display: block;
    text-align: center;
  }
  footer img {
    margin: 1rem 0.8rem;
  }
  .footer-logo {
    margin: 0 auto;
  }
}