@import url("./variables.css");

.footer-hero-section {
  width: 100%;
  height: 10rem;
  margin: 0;
}
.footer-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer {
  width: 100%;
  background-color: var(--primary-theme);
  color: var(--f-clr-secondary);
  display: flex;
  justify-content: space-around;
}
.footer-logo {
  font-family: var(--ff-h);
  color: var(--f-clr-secondary);
  font-size: var(--fs-h3);
  text-transform: var(--text-uc);
  font-weight: var(--fw-bold);
  width: 8rem;
}
.footer-logo-link {
  text-decoration: none;
}
.footer-information-list {
  margin-top: 1rem;
}
footer p {
  color: var(--f-clr-secondary);
}
.footer-nav li {
  display: block;
  padding-bottom: 0.5rem;
}
.footer-nav a {
  text-decoration: none;
  font-family: var(--ff-h);
  color: var(--f-clr-secondary);
  font-size: var(--fs-h2);
  text-transform: var(--text-uc);
}
.footer-ul {
  margin: 0;
  padding: 0;
}
.footer-list-container {
  margin: 1.5rem 0.5rem;
}
.fa-instagram, .fa-facebook, .fa-youtube {
  font-size: 2.2rem;
  margin: 1rem 0.8rem 1rem 0rem;
  text-decoration: none;
  color: var(--f-clr-secondary);
}
.fa-instagram:hover, .fa-facebook:hover, .fa-youtube:hover {
  color: var(--primary-theme-ltr);
}
.socials {
  text-decoration: none;
}
@media (max-width: 500px) {
  footer {
    display: block;
    text-align: center;
  }
  .fa-instagram, .fa-facebook, .fa-youtube {
    margin: 1rem 0.5rem;
  }
  .footer-logo {
    margin: 0 auto;
  }
  .footer-list-container {
    margin: 0;
  }
}