@import url("./variables.css");

.showcase-special-bg {
  background-color: #010f15;
}
.showcase-colors {
  color: var(--f-clr-secondary);
}
.margin {
  margin-top: 1rem;
} 
.showcase-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.showcase-img-container {
  width: 50%;
  margin: auto;
}
.showcase-img {
  border-radius: 5rem;
}
.showcase-img,
.showcase-hero,
.showcase-hero-img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.showcase-hero {
  margin: 0;
  position: relative;
}
.showcase-hero-headline {
  position: absolute;
  top: 65%;
  left: 2%;
  font-size: var(--fs-h3);
}
@media (max-width: 1100px) {
  .showcase-img-container {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .showcase-grid {
    grid-template-columns: 1fr;
    margin: 1rem;
  }
  .showcase-img {
    border-radius: 0;
  }
}
