@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');

:root {
  --primary-bg: #fff;
  --primary-theme: #042E45;
  --primary-theme-ltr: #0C5278;
  --secondary-theme: #04453C;
  --secondary-theme-dr: #011511;

  --fs-base: 1rem;
  --fs-h1: 2rem;
  --fs-h2: 1.15rem;
  --fs-h3: 1.5rem;
  --fs-header: 2.25rem;

  --ff-h: 'Work Sans', sans-serif;
  --ff-p: 'Maitree', sans-serif;

  --f-clr-base: #000;
  --f-clr-secondary: #fff;
  --f-clr-special: #04453C;

  --fw-regular: 400;
  --fw-bold: 700;

  --text-uc: uppercase;
  --text-cap: capitalize;
}